

:root {
  --red: #B72929;
  --orange: #D86B22;
  --blue: #2140BB;
  --nav1000: 1rem;
  --head1000: 2.5rem;
  --abt1000: 0.9rem;
  --link1000: 0.8rem;
  --num1000: 7.5rem;
  --placeholder: 0.75rem;
  --send: 0.9rem;
  --count: 0.75rem;
  --font: "Roboto Slab", serif;
  /* --font: "Roboto Mono", monospace; */
}

/*Navbar*/

body {
  position: relative;
}

.navbars {
  height: 50px;
  align-content: center;
  font-weight: 100;
  font-size: var(--nav1000);
  position: fixed;
  z-index: 100;
  width: 100%;
}

.containers {
  padding: 0 10vw 0 10vw;
  background-color: rgba(12, 12, 14, 0.8);
  backdrop-filter: blur(8px);
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.logo {
  cursor: pointer;
  padding: 10px;
}

#menu-active {
  color: #fff;
}

.menu-pad {
  padding: 10px;
  color: #666666;
  cursor: pointer;
}

.menu-pad:hover {
  color: rgba(255, 255, 255, 0.85);
}

.menu {
  display: none;
  height: 100%;
  z-index: 10;
}

.menu-icon {
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 70%;
}

.menu-dropdown {
  display: none;
  position: absolute;
  background-color: rgba(12, 12, 14, 0.8);
  backdrop-filter: blur(8px);
  color: #777;
  font-family: var(--font);
  font-size: 0.8em;
  letter-spacing: 2px;
  top: 100%;
  right: 1px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  z-index: 100;
}

.menu-dropdown li {
  margin: 0 10vw;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  opacity: 70%;
}

.menu-dropdown li::after {
  content: ">";
  position: absolute;
  right: 10vw;
}

.menu-dropdown li:not(:last-child) {
  border-bottom: rgba(133, 132, 132, 0.5) solid 1px;
}

.menu-dropdown li:hover {
  color: rgba(255, 255, 255, 0.85);
}

/*Home */

.homepage {
  height: 200vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.intro-box {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.intro {

  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 4px;;
  font-size: 8rem;
  letter-spacing: 0.3rem;
  animation: zoomIn 3.2s linear forwards;
  z-index: 1;
  overflow: hidden;
}

/* .img-light {
  background-image: url('./Images/Light.png');
  background-position-x: center;
  background-position-y: -30px;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform-origin: top center; 
  animation: swingIn 2.2s ease forwards;
  display: none;
} */

.light-box {
  transform-origin: top center;
  animation: swingIn 2.2s ease forwards;
  display: none;
}

.img-light {
  object-fit: cover;
  width: 100%;
  height: 200vh;
  object-position: top;
  overflow: visible;
}

#display-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.tagline {
  height: 100vh;
  width: 100%;
  color: #020104;
  font-size: var(--head1000);
  font-weight: 400;
  letter-spacing: 5.5px;
  position: absolute;
  top: 0;
  animation: fadeIn 3s ease forwards;
  display: none;
}

.tag {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.pad {
  padding: 10px;
}

.lm {
  font-size: var(--link1000);
  padding-top: 60px;
  text-shadow: none;
  position: absolute;
  width: 100%;
  bottom: 30vh;
  text-align: center;
  user-select: none;
}

.lm span {
  cursor: pointer;
}

.lm span:hover {
  letter-spacing: 6px;
}

.lm span:hover .lm-arw {
  color: var(--orange);
  letter-spacing: 10px;
}

.idea {
  animation: idea 3s ease forwards;
}

.expertise {
  animation: expertise 3s ease forwards;
}

.project {
  animation: project 3s ease forwards;
}

/*About*/

.about-absolute {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100vh;
}

.abt {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutDisplay {
  position: absolute;
  background-color: rgba(11, 11, 11, 0.2);
  height: 70%;
  width: 70%;
  border-radius: 25px;
  backdrop-filter: blur(4px);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 2px;
}

.abtHeadline {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(35, 35, 35, 0.5);
  border-radius: 20px 20px 0 0;
  padding: 10px 0 10px 0;
  backdrop-filter: blur(4px);
  color: rgba(173, 171, 171, 0.6);
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.abtUsLine {
  width: 100%;
  display: flex;
  justify-content: center;
}

.clr {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.red {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px 0 14px;
  background-color: rgba(255, 95, 87, 0.7);
}

.yellow {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px 0 4px;
  background-color: rgba(255, 189, 46, 0.8);
}

.green {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 4px 0 4px;
  background-color: rgba(40, 200, 64, 0.8);
}

.abtUs {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.abtUsHead {
  display: flex;
  justify-content: center;
  margin: 60px 0 20px 0;
  font-size: var(--head1000);
  letter-spacing: 5px;
}

.abtUsPara {
  padding: 0 60px 0 60px;
  text-align: justify;
  font-size: var(--abt1000);
  line-height: 30px;
  font-weight: 200;
  letter-spacing: 2px;
  overflow: scroll;
  scrollbar-width: none;
}

.para {
  color: var(--blue);
}

.serLink {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  font-size: var(--link1000);
  letter-spacing: 2.5px;
  user-select: none;
}

.serLink span {
  cursor: pointer;
}

.serLink span:hover {
  letter-spacing: 4px;
}

.serLink span:hover .ser-arw {
  color: var(--red);
  letter-spacing: 6px;
}

/*Services*/

.serviceHead {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.head {
  width: 100%;
  padding-top: 80px;
  text-align: center;
  font-size: var(--head1000);
  letter-spacing: 5px;
}

.gridLandscape {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 100%;
  padding: 50px 100px 0 100px;
}

.gridPotrait {
  display: grid;
  grid-template-columns: auto auto;
  height: 100%;
  padding: 50px 10px 0 10px;
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landscape {
  height: 60%;
  width: 50%;
  background-color: rgba(217, 217, 217, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  position: absolute;
  display: grid;
  justify-items: center;
  grid-template-rows: 60% 40%;
}

.landscape:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.portrait {
  height: 60%;
  width: 70%;
  background-color: rgba(217, 217, 217, 0.4);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  position: absolute;
  display: grid;
  justify-items: center;
  grid-template-rows: 70% 30%;
}

.num {
  font-size: var(--num1000);
  line-height: 0;
  position: absolute;
  height: 60%;
  font-family: "Kode Mono";
}


.icon {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Contact*/

.cntctHead {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.formLine {
  text-align: center;
}

.form {
  padding: 0 5vw 0 5vw;
}

.form-details {
  width: 50%;
  display: flex;
  justify-content: center;
}

.form-row {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 30px 0;
  align-items: center;
}

.lable {
  background-color: rgba(217, 217, 217, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 40px;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.form-input, input:-webkit-autofill {
  width: 70%;
  background-color: rgba(217, 217, 217, 0.4);
  backdrop-filter: blur(4px);
  border-radius: 40px;
  border: none;
  height: 40px;
  padding: 0 20px 0 20px;
  color: #fff !important;
  font-family: var(--font);
  font-size: var(--placeholder);
  letter-spacing: 1px;
  border: 2px transparent solid;
}

input:-internal-autofill-selected {
  background-color: rgba(217, 217, 217, 0.4) !important;
}


.form-input::placeholder, .drpdwn-PH {
  color: rgba(255, 255, 255, 0.3);
  font-family: var(--font);
  font-size: var(--placeholder);
  letter-spacing: 2px;
}

.form-input:focus, .form-input:focus-visible, .form-input:active{
  border: #ffffff 2px solid;
  outline: none;
}

#lable-border {
  border: #ffffff 2px solid;
  outline: none;
}

.error {
  background-color: rgba(134, 122, 122, 0.8);
  border: #f04141 2px solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}


.dropdown-selected {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-selected::after {
  content: '▼'; 
  position: absolute;
  right: 15px;
  pointer-events: none;
  color: #fff;
}

.uparrow::after {
  content: '▲'; 
  position: absolute;
  right: 15px;
  pointer-events: none;
}


.dropdown-options {
  display: block;
  position: absolute;
  background: rgba(217, 217, 217, 0.4) !important;
  backdrop-filter: blur(8px);
  border-radius: 8px;
  color: #fff !important;
  font-family: var(--font);
  font-size: 0.7rem;
  letter-spacing: 2px;
  top: 100%;
  left: calc(5px + 15%);
  width: calc(70% + 40px);
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  z-index: 10;
}

.rel {
  position: relative;
}

.dropdown-options li {
  padding: 15px 20px;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s ease-in-out;
}

.dropdown-options li:not(:last-child) {
  border-bottom: rgba(133, 132, 132, 0.5) solid 1px;
}

.dropdown-options li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.text-area {
  padding-top: 10px;
  width: 80%;
  height: 70px;
  resize: vertical;
  border-radius: 20px;
}

.text-area::-webkit-scrollbar-track{
	background-color: white;
}

.text-area::-webkit-scrollbar{
  overflow: hidden;
	width: 5px;
	background-color: #F5F5F5;
}

.text-area::-webkit-scrollbar-thumb{
	border-radius: 100px;
	box-shadow: 3px 0px 12px 4px grey;
	background-color: rgba(92, 92, 92, 0.81);
}

.goterror {
  text-align: center;
  font-size: 0.7rem;
  /* padding-bottom: 20px; */
  color: rgb(107, 204, 105);
}

.button {
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 40px;
  background: rgba(66, 231, 33, 0.5);
  backdrop-filter: blur(4px);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 0.7rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  background: rgba(66, 231, 33, 0.6);
}

.or {
  text-align: center;
  font-size: 0.9rem;
}

.round {
  width: 40px;
  height: 40px;
  background: rgba(217, 217, 217, 0.4) !important;
  backdrop-filter: blur(4px);
  border-radius: 50%; 
  margin: 0 20px 50px 20px;
  cursor: pointer;
  position: relative;
}


.social-media {
  display: flex;
  justify-content: center;
}


.confirmation {
  width: 100%;
  height: 100%;
  background: #2140BB;
  position: absolute;
}

.confirmation div{
  display: flex;
}

.round:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.submit-review {
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
}

/* .confirm-box {
  background: rgba(65, 65, 65, 0.9) !important;
  font-size: var(--abt1000);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  position: fixed;
  height: 40vh;
  width: 40vw;
  display: flex;
  top: 30vh;
  left: 30vw;
  flex-direction: column;
  justify-content: center;
} */

.confirm-l {
  background: rgba(65, 65, 65, 0.9) !important;
  border: #717171 1px solid;
  font-size: var(--send);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  position: fixed;
  height: 40vh;
  width: 40vw;
  display: flex;
  top: 30vh;
  left: 30vw;
  flex-direction: column;
  justify-content: center;
}

.confirm-p {
  background: rgba(65, 65, 65, 0.9) !important;
  border: #717171 1px solid;
  font-size: var(--send);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  position: fixed;
  height: 30vh;
  width: 80vw;
  display: flex;
  top: 35vh;
  left: 10vw;
  flex-direction: column;
  justify-content: center;
}

.thnks-l {
  background: rgba(65, 65, 65, 0.9) !important;
  border: #717171 1px solid;
  font-size: var(--send);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  position: fixed;
  height: 25vh;
  width: 40vw;
  display: flex;
  top: 37.5vh;
  left: 30vw;
  flex-direction: column;
  justify-content: center;
}

.thnks-p {
  background: rgba(65, 65, 65, 0.9) !important;
  border: #717171 1px solid;
  font-size: var(--send);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  position: fixed;
  height: 20vh;
  width: 70vw;
  display: flex;
  top: 30vh;
  left: 15vw;
  flex-direction: column;
  justify-content: center;
}

.confirm-user {
  padding: 0 20px;
}

.confirm-user p:first-child {
  margin-top: 0;
}

.confirm-btn-hd {
  display: flex;
  justify-content: center;

}

.edit {
  background-color: #6f6f6f;
  margin: 20px 0 0 20px;
  width: 30%;
}

.edit:hover {
  background-color: #7f7f7f
}

.send {
  margin: 20px 20px 0 0;
  width: 30%;
}

.thnks {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.back-link {
  text-align: center;
  color: #ababab;
}

.count {
  font-size: var(--count);
}

/* .thnks-box {
  height: 25vh;
} */

.one, .two, .three {
  visibility: hidden;
}

/*Media*/

@media (max-width: 377.98px) {
  :root {
    --head1000: 1.2rem;
    --count: 0.3rem;
    --send: 0.1.5rem;
  }

  body {
    font-size: 8px !important;
  }

  .intro {
    font-size: 1rem;
  }

  .form-input {
    width: 100%;
    padding-left: 50px;
  }

  .lable {
    background: none;
    backdrop-filter: none;
    position: absolute;
    z-index: 1;
    left: 0;
    border: none;
  }

  .lable::after {
    content: "|";
    font-size: 1.5rem;
    position: absolute;
    right: -5px;
  }

  .lable img {
    width: 40%;
    height: 40%;
  }

  .dropdown-options {
    width: 90%;
    left: auto;
  }

  .form-row {
    flex-direction: column;
    margin: 0;
  }

  .form-details {
    width: 100%;
    margin: 8px;
    position: relative;
  }

  .button {
    margin-top: 8px;
  }


  .abtUsPara {
    padding: 0 20px;
    line-height: 25px;
  }


  .img-light {
    background-position-y: 0;
  }

  .details {
    display: none;
  }

  .containers {
    display: grid;
    grid-template-columns: 10% 90%;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  .menu {
    display: block;
  }

  .menu-dropdown {
    display: block;
  }
}

@media (min-width: 378px) and (max-width: 549.98px) {
  :root {
    --head1000: 1.5rem;
    --count: 0.4rem;
    --send: 0.5rem;
  }

  body {
    font-size: 10px !important;
  }

  .intro {
    font-size: 2rem;
  }

  .form-input {
    width: 100%;
    padding-left: 50px;
  }

  .lable {
    background: none;
    backdrop-filter: none;
    position: absolute;
    z-index: 1;
    left: 0;
    border: none;
  }


  .lable::after {
    content: "|";
    font-size: 1.5rem;
    position: absolute;
    right: -5px;
  }

  .lable img {
    width: 40%;
    height: 40%;
  }

  .dropdown-options {
    width: 90%;
    left: auto;
  }


  .form-row {
    flex-direction: column;
    margin: 0;
  }

  .form-details {
    width: 100%;
    margin: 8px;
    position: relative;
  }

  .button {
    margin-top: 8px;
  }

  .abtUsPara {
    padding: 0 20px;
    line-height: 25px;
  }

  .img-light {
    background-position-y: 0;
  }

  .details {
    display: none;
  }

  .containers {
    display: grid;
    grid-template-columns: 10% 90%;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  .menu {
    display: block;
  }

  .menu-dropdown {
    display: block;
  }
}


@media (min-width: 550px) and (max-width: 767.98px) {
  :root {
    --count: 0.6.5rem;
    --send: 0.6rem;
  }

  body {
    font-size: 15px !important;
  }

  .intro {
    font-size: 2.5rem;
  }

  .form-input {
    width: 100%;
    padding-left: 50px;
  }

  .lable {
    background: none;
    backdrop-filter: none;
    position: absolute;
    z-index: 1;
    left: 0;
    border: none;
  }

  .lable::after {
    content: "|";
    font-size: 1.5rem;
    position: absolute;
    right: -5px;
  }

  .lable img {
    width: 40%;
    height: 40%;
  }

  .dropdown-options {
    width: 90%;
    left: auto;
  }

  .form-row {
    flex-direction: column;
    margin: 0;
  }

  .form-details {
    width: 100%;
    margin: 8px;
    position: relative;
  }

  .button {
    margin-top: 8px;
  }

  .abtUsPara {
    padding: 0 20px;
    line-height: 25px;
  }


  .img-light {
    background-position-y: 0;
  }

  .details {
    display: none;
  }

  .containers {
    display: grid;
    grid-template-columns: 10% 90%;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
  }

  .menu {
    display: block;
  }

  .menu-dropdown {
    display: block;
  }
}

/* Animation */

@keyframes zoomIn {
  0% {
      transform: scale(1); 
  }
  10% {
      transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  40% {
      transform: scale(1); 
      opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    transform: scale(50);
  }
}

@keyframes swingIn {
  0% {
      transform: translateY(-100%) rotate(0deg);
  }
  20% {
      transform: translateY(0) rotate(15deg);
  }
  40% {
      transform: rotate(-10deg);
  }
  60% {
      transform: rotate(7deg);
  }
  80% {
      transform: rotate(-5deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0; 
      
  }
  20% {
      opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes idea {
  0% {
    color: transparent; 
  }
  40% {
    color: transparent;
  }
  61%{
    color: var(--orange); 
  }
  65%{
    text-shadow: rgba(216, 107, 34, 0.8) 0 0 8px;
  }
  70%{
    text-shadow: none;
  }
  75%{
    text-shadow: rgba(216, 107, 34, 0.8) 0 0 8px;
  }
  80%{
    text-shadow: none;
  }
  85%{
    text-shadow: rgba(216, 107, 34, 0.8) 0 0 6px;
  }
  90%{
    text-shadow: none;
  }
  95%{
    text-shadow: rgba(216, 107, 34, 0.8) 0 0 4px;
  }
  100% {
    color: var(--orange);
    text-shadow: none;
  }
}

@keyframes expertise {
  0% {
    color: transparent; 
  }
  40% {
    color: transparent;
  }
  61%{
    color: var(--red);
    
  }
  65%{
    text-shadow: rgba(183, 41, 41, 0.8) 0 0 8px;
  }
  70%{
    text-shadow: none;
  }
  75%{
    text-shadow: rgba(183, 41, 41, 0.8) 0 0 8px;
  }
  80%{
    text-shadow: none;
  }
  85%{
    text-shadow: rgba(183, 41, 41, 0.8) 0 0 6px;
  }
  90%{
    text-shadow: none;
  }
  95%{
    text-shadow: rgba(183, 41, 41, 0.8) 0 0 4px;
  }
  100% {
    color: var(--red);
    text-shadow: none;
  }
}

@keyframes project {
  0% {
    color: transparent; 
  }
  40% {
    color: transparent;
  }
  61%{
    color: var(--blue);
    
  }
  65%{
    text-shadow: rgba(33, 64, 187, 0.8) 0 0 8px;
  }
  70%{
    text-shadow: none;
  }
  75%{
    text-shadow: rgba(33, 64, 187, 0.8) 0 0 8px;
  }
  80%{
    text-shadow: none;
  }
  85%{
    text-shadow: rgba(33, 64, 187, 0.8) 0 0 6px;
  }
  90%{
    text-shadow: none;
  }
  95%{
    text-shadow: rgba(33, 64, 187, 0.8) 0 0 4px;
  }
  100% {
    color: var(--blue);
    text-shadow: none;
  }
}